.main_bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  .main_bar_card {
    .like{
        text-align: right;
        cursor: pointer;
        transition: all 0.3s ease-in;
        img{
            position: relative;
            bottom: -40px;
            right: 10px;
        }
    }
    .card_text {
      h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 10px 0;
        color: #000000;
      }

      span {
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        color: #6d84ff;
        margin-right: 5px;
      }
      .card_rate {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
          color: #000000cc;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
  }
}
