.search {
  padding: 20px;
  .search_page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_search {
      display: flex;
      align-items: center;
      width: 30%;
      justify-content: space-between;
      gap: 10px;
      border: 1px solid #00000080;
      border-radius: 14px;
      padding: 10px 20px;

      input {
        border: none;
        outline: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #00000066;
      }
      .search_icon {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .header_logo {
      img {
        width: 70%;
      }
    }
  }
  .search_top_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  .search_dashboard {
    display: flex;
    gap: 30px;
  }
}

/* Responsiveness starts here */

/* medium screens */
@media (max-width: 991px) {
  .search {
    .search_page_header {
      .header_search {
        width: 55%;
      }
    }
    .search_top_text {
      font-size: 16px;
    }
  }
  .search_dashboard {
    margin-top: 50px;
  }
}

/* Small Screens */
@media only screen and (max-width: 480px) {
  .search {
    .search_page_header {
      flex-direction: column-reverse;
      gap: 30px;

      .header_search{
        width: 90%;
      }
      .header_logo{
        img{
          width: 150px;
        }
      }
    }
    .search_dashboard {
      flex-direction: column;
    }
  }
}
