.sidebar {
  width: 250px;
  position: sticky;
  height: 100vh;
  top: 0;
  left: 0;

  .brand {
    border-bottom: 1px solid #00000033;
    padding-bottom: 5px;

    .brand_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: -20px;

      p {
        text-transform: uppercase;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #2f3037;
      }
      .hide_icon {
        cursor: pointer;
      }
    }
    .brand_item {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        text-transform: capitalize;
        color: #000000;
      }
    }
  }
}
